<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="/assets/images/tlogo.jpg" alt="taw3ya-logo" class="tlogo" />

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active d-flex flex-column text-center"
            aria-current="page"
            routerLink=""
            ><i class="fas fa-home fa-lg"></i><span class="small">Home</span></a
          >
        </li>
    
        <li class="nav-item ">
          <a class="nav-link" routerLink="/user">Contact</a>
        </li>
       
          <li class="nav-item dropdown">
            <a
              class="nav-link d-flex flex-column text-center  "
              aria-current="page"
              href="#"
            >
              <i class="fas fa-file-alt fa-lg dropdown-toggle"></i>
              <span class="small">topics</span>
            </a>
            <div class="dropdown-content" style="z-index: 50">
              <a routerLink="/sujet">Technologie</a>
              <a>Link 2</a>
              <a>Link 3</a>
            </div>
          </li>
        
      </ul>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active d-flex flex-column text-center"
              aria-current="page"
              routerLink=""
              ><i class="fas fa-home fa-lg"></i><span class="small">Home</span></a
            >
          </li>
  
  
          <li class="nav-item">
            <a
              class="nav-link d-flex flex-column text-center"
              aria-current="page"
              href="#"
              ><i class="fas fa-comment-dots fa-lg"></i
              ><span class="small">Messaging</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-flex flex-column text-center"
              aria-current="page"
              href="#"
              ><i class="fas fa-bell fa-lg"></i
              ><span class="small">Notifications</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="assets/images/tlogo.jpg"
                class="rounded-circle"
                height="30"
                alt=""
                loading="lazy"
              />
            </a>
            <ul class="dropdown-content" style="z-index: 50">
              <li><a class="dropdown-item" routerLink="/user/{{user?.id}}" >My profile</a></li>
              <li><a class="dropdown-item" >Settings</a></li>
              <li><a class="dropdown-item" >Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div >
        <button
          class="btn btn-outline-success mx-3"
          type="submit"
          (click)="openLogIn()"
        >
          Login
        </button>
        <button
          class="btn btn-outline-success"
          type="submit"
          routerLink="/signup"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</nav> 


